*
{
    margin:0;
    padding:0;

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:14px;
}

body, html 
{
    background:#dcdcdc;
}
html
{
    /*display:flex;*/
}

body
{
    /*align-self:center;*/
    margin: 0 auto;

    display:flex;
    flex-direction:column;
    align-items:center;
    width:70%;
}

nav
{
    margin: 10px 0 0 0;
    width:100%;
    display:flex;
    justify-content:space-between;
}

nav ul
{
    display:flex;
    flex-direction:row;
}

nav ul li
{
    margin:0 5px;
}

#logo-link
{
    width:157px;
    display:flex;
    justify-content:space-between;
}

#nav-title
{
    align-self:flex-start;
}

section, header {
    margin: 10px 0;
    width: 70%;
    /*padding: 0 25%*/
}

header
{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

    header p {
        width: 200px;
    }

article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    article div {
    }

.events {
    display: flex;
    flex-direction: column;
}

    .events li {
        display: flex;
        flex-direction: row;
    }

        .events li p {
            align-self: flex-start;
            padding: 0 10px;
        }

        .events li img {
            width: 100px;
            border: 1px solid #808080;
        }


.tic-tac-toe {
    display: flex;
    flex-direction: column;
}

    .tic-tac-toe li {
        flex-wrap: wrap;
        display: flex;
    }

        .tic-tac-toe li img {
            flex-direction: row;

            width: 100px;
            border-radius: 10px;
            padding: 5px;
        }



/*NON Flex Styling*/
#nav-logo {
    background: #fff;
    padding: 5px;
    border: 1px solid #808080;
}

nav img {
    width: 70px;
}



a, h1, h2
{
    color:#000;
}
h1
{
    font-size:36px;
    width:100%;
}
h2
{
    font-size:18px;
    margin:10px 0;
    padding:0 10px;
    width:100%;
}
 
p
{
    color:#8f8f8f;
}

hr
{
    float:left;
    width:100%;
    margin:0 15%;
}

ul 
{
    list-style: none;
}

footer
{
    margin:25px 0;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

footer ul
{
    width:30%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
/*
footer {
    float: left;
    margin: 50px 0;
    width: 70%;
    padding: 0 15%;
}

footer a
{
    float:right;
}

footer ul
{
    display:inline-block;
}

footer ul li
{
    display:inline;
    margin:0 10px 0 0;
}

nav
{
    width:70%;
    padding:0 15%;
    margin:10px 0 0 0;
}

nav #nav-logo, nav #nav-title
{
    float:left;
}

#nav-title
{
    margin:0 10px;
}

#nav-logo 
{
    background:#fff;
    padding:5px;
    border: 1px solid #808080;
}
nav img
{
    width:70px;
}

nav ul
{
    float:right;

}

nav ul li
{
    float:left;
    margin:0 5px;

    display:block;
}

section, header
{
    float:left;
    margin:10px 0;

    width:50%;
    padding:0 25%
}

header p 
{
    width: 200px;
    float:left;
    display: inline-block;
}
header a
{
    float:right;
    display:inline-block;
}



.btn {
    background: #c5c5c5;
    border: 1px solid #808080;
    border-radius: 3px;
    padding: 5px;
    text-decoration:none;

    box-shadow: #808080 0px -2px 0px inset;
}

.btn-wide
{
    padding:5px 100px;
}

.l
{
    float:left;
}

.events
{
    width:200px;
}

.events li
{
    display:inline-block;
    width:100%;
    margin: 10px 0;
}

.events li * 
{
    float: left;
}

.events li img
{
    width:100px;
    border:1px solid #808080;
}

.events li p
{
    padding:0 10px;
}


.r
{
    float:right;
}
*/
video
{
    width:80%;
    height:200px;
    margin:20px 10%;
    border:solid 1px #808080;
    background-image:url(../img/video_placeholder.jpg) ;
    background-size:100% 100%;
}




.btn {
    background: #c5c5c5;
    border: 1px solid #808080;
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    box-shadow: #808080 0px -2px 0px inset;
}

.btn-wide {
    padding: 5px 100px;
}
